<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>LAPRAIRIE｜國泰世華</title>
    <meta name="title" content="La Prairie 萊珀妮">
    <meta name="keywords" content="La Prairie">
    <meta name="description" content="敬邀國泰世華世界卡貴賓親臨 LA PRAIRIE萊珀妮專櫃尊享生日禮遇">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />

    <!-- Open Graph Protocol -->
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- css -->
    <link rel="stylesheet" href="~/content/laprairie/css/normalize.css">
    <link rel="stylesheet" href="~/content/laprairie/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/laprairie/css/animate.min.css">
    <link rel="stylesheet" href="~/content/laprairie/css/style.css">
</head>

<body>
    <div class="all-content">
        <div class="welcome">
            <div class="container">
                <div class="logo text-center wow animate__fadeInUp"><img src="~/content/laprairie/images/logo.svg" alt="" width="200" height="47"></div>
                <div class="title">
                    <h1 class="wow animate__fadeInUp">Happy Birthday</h1>
                    <h2 class="wow animate__fadeInUp">敬邀 國泰世華世界卡貴賓</h2>
                    <p class="wow animate__fadeInUp">親臨 <span class="LaPrairie">La Prairie</span> 萊珀妮專櫃尊享生日禮遇</p>
                </div>
                <div class="line wow animate__fadeInUp"></div>
                <div class="intro wow animate__fadeInUp">
                    <p><span class="LaPrairie">La Prairie</span> 萊珀妮來自瑞士奢華保養，追求永恆無盡之美。以尖端萃取科技為基礎，融合瑞士精準美學，將高效珍稀保養成分—魚子、鉑金、黃金，蛻變成返齡保養藝術傑作，提供不同凡響的專屬奢華體驗。</p>
                </div>
            </div>
        </div>
        <div class="gift text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="wrapper">
                            <h3 class="wow animate__fadeInUp">奢華尊寵禮</h3>
                            <p class="wow animate__fadeInUp">持卡至櫃點將提供 <span class="LaPrairie">La Prairie</span>萊珀妮<i></i>「魚子經典兩件禮」乙份</p>
                            <p class="wow animate__fadeInUp">與「萊珀妮奢華美容護理－眼部加強版30分鐘」乙次 <small>(奢華美容護理採預約制)</small></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wrapper">
                            <h3 class="wow animate__fadeInUp">尊寵升級禮</h3>
                            <p class="wow animate__fadeInUp">兌換尊寵禮時，持該卡不限金額消費即享<i></i>「奢華美容護理60分鐘」乙次</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wrapper">
                            <h3 class="wow animate__fadeInUp">卡友消費禮</h3>
                            <p class="wow animate__fadeInUp">持該卡消費金額達NT$18,000<i></i>即可獲「魚子美顏奢華三件禮」乙份</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop">
            <div class="container">
                <div class="title text-center">
                    <h4 class="wow animate__fadeInUp"><span class="LaPrairie">La Prairie</span> 萊珀妮全台櫃點</h4>
                    <p class="wow animate__fadeInUp">點擊LINE圖示<i class="break_s">，</i>即可加入各櫃點LINE官方帳號進行預約</p>
                    <p class="wow animate__fadeInUp">最新櫃點資訊請以 <span class="LaPrairie">La Prairie</span> 萊珀妮公告為主</p>
                </div>
                <ul class="shopList">
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台北SOGO忠孝館</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=184vlyrd" class="line"></a>
                        <div class="sl__p"><a href="tel:02-8771-6309">(02)8771-6309</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台北SOGO復興館</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=688njhdz" class="line"></a>
                        <div class="sl__p"><a href="tel:02-8772-1651">(02)8772-1651</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台北SOGO敦化館</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=838nzqfp" class="line"></a>
                        <div class="sl__p"><a href="tel:02-2781-4509">(02)2781-4509</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台北SOGO天母店</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=506xdfrt" class="line"></a>
                        <div class="sl__p"><a href="tel:02-2836-6728">(02)2836-6728</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">新光三越信義A4館</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=121eaory" class="line"></a>
                        <div class="sl__p"><a href="tel:02-2723-2313">(02)2723-2313</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">新光三越信義A8館</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=163ovvkw" class="line"></a>
                        <div class="sl__p"><a href="tel:02-8789-6516">(02)8789-6516</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">微風信義</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=350ljcet" class="line"></a>
                        <div class="sl__p"><a href="tel:02-2758-3606">(02)2758-3606</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">板橋大遠百</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=349kefsy" class="line"></a>
                        <div class="sl__p"><a href="tel:02-2956-0511">(02)2956-0511</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">新竹SOGO Big City館</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=018zsxoq" class="line"></a>
                        <div class="sl__p"><a href="tel:03-535-2355">(03)535-2355</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">SOGO中壢店</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=283yesuf" class="line"></a>
                        <div class="sl__p"><a href="tel:03-425-1135">(03)425-1135</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台中新光三越</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=812qqlen" class="line"></a>
                        <div class="sl__p"><a href="tel:04-2258-1772">(04)2258-1772</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台中廣三SOGO</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=570tomyi" class="line"></a>
                        <div class="sl__p"><a href="tel:04-2328-3727">(04)2328-3727</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">台南新光三越西門店</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=897uvtyi" class="line"></a>
                        <div class="sl__p"><a href="tel:06-303-0028">(06)303-0028</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">高雄漢神百貨</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=382wukyp" class="line"></a>
                        <div class="sl__p"><a href="tel:07-215-3218">(07)215-3218</a></div>
                    </li>
                    <li class="wow animate__fadeInUp">
                        <div class="sl__t">高雄漢神巨蛋百貨</div>
                        <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=355mcelk" class="line"></a>
                        <div class="sl__p"><a href="tel:(07)554-7373">(07)554-7373</a></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="note">
            <div class="container">
                <div class="title text-center">
                    <h4 class="wow animate__fadeInUp">注意事項</h4>
                </div>
                <ol>
                    <li class="wow animate__fadeInUp">活動期間為2023/1/1~2023/12/31，生日簡訊以及EDM於生日月份前一個月月底前發送。持卡人本人需於生日當月至次月月底前憑手機簡訊、生日證明證件及國泰世華世界卡親臨La Prairie 櫃位兌換及使用完畢。上述生日禮優惠限使用乙次，使用後專櫃人員將登記顧客肌膚資訊。</li>
                    <li class="wow animate__fadeInUp">本活動不與其他優惠合併使用，亦不得折現或找零。</li>
                    <li class="wow animate__fadeInUp">奢華美容護理僅限女性貴賓使用(可轉讓，須本人攜帶證件陪同前往，任何消費需使用世界卡方可享有活動優惠)。請致電 La Prairie 萊珀妮專櫃或臨櫃預約護理體驗時間。恕不接受臨時臨櫃體驗。護理體驗時段名額有限，額滿為止。請儘早致電專櫃預約。預約完成後，如欲取消請於3日前告知。</li>
                    <li class="wow animate__fadeInUp">母親節及週年慶檔期活動期間，恕不接受預約；「奢華美容護理」兌換期限可自動順延一個月。</li>
                    <li class="wow animate__fadeInUp">防疫期間配合政府防疫政策，若無法提供護理體驗服務，可更換成手部奢華保養體驗，但恕不受理更換其他贈品替代或延期使用或折讓現金。</li>
                    <li class="wow animate__fadeInUp">如遇不可抗力或不可歸責或防疫之事由，國泰世華銀行與台灣萊珀妮得保留相關活動之解釋、修訂、終止等權利。</li>
                </ol>
            </div>
        </div>
        <div class="partner">
            <div class="container">
                <div class="logoList wow animate__fadeInUp">
                    <div class="logo__cathaybk"></div>
                    <span></span>
                    <div class="logo__LaPrairie"></div>
                </div>
                <h5 class="wow animate__fadeInUp">謹慎理財 信用無價</h5>
                <p class="wow animate__fadeInUp">信用卡暨預借現金之各級別循環信用年利率為6.75%~15%(依本行信用評分制度定期評估，循環利率之基準日為104年9月1日)。預借現金手續費：預借現金金額乘以3%加上新臺幣150元或美元5元，其他相關費用係依本行網站公告。</p>
                <div class="ctl wow animate__fadeInUp">
                    <a href="https://maac.io/1XiAG"><img src="~/content/laprairie/images/line-white.svg">進入 La Prairie 官方帳號</a>
                </div>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="~/content/laprairie/js/jquery-3.6.0.min.js"></script>
    <script src="~/content/laprairie/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/content/laprairie/js/wow.min.js" type="text/javascript"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>